body {
    font-family: "Open Sans Extra Bold", "Open Sans Bold", "Montserrat"
}
  
.aba-perfil {
      display: block;
      width: 300px; 
      margin: auto;
}
  
.aba-perfil img {
    display: block;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: auto;
}
  
.aba-perfil h1 {
      text-align: center;
      color: #006dff;
}
  
.aba-perfil label {
      display: block;
      width: 200px;
      font-weight: 550;
      font-size: 1em;
      margin-top: 20px;
}
  
.aba-perfil input {
      display: block;
      height: 2em;
      width: 280px;
      border-radius: 10px;
}
  
.aba-perfil button {
      display: block;
      margin-top: 25px;
      margin-left: auto;
      margin-right: auto;
      color: #006dff;
      font-size: 1.4em;
      background: white;
      border: none;
}
  
.select {
      display: block;
      height: 2.5em;
      width: 288px;
      border-radius: 10px;
}
  
.aba-perfil input[type='file'] {
    display: none
}

.aba-perfil img+label {
    background-color: white;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin: auto;
    width: 300px;
}