.form-cadastro {
    width: 300px;
    margin: auto;
}
  
.select {
    display: block;
    height: 2.5em;
    width: 288px;
    border-radius: 10px;
}
 
.jacadastrado {
    display:block;
    margin: auto;
    width: 300px;
    text-align: center;
    font-weight: 550;
}
  
.jacadastrado a {
    text-decoration: none;
    color: black;
}

.jacadastrado a:hover {
    color: blue;
}